.cardrow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
    transition: 0.5s;
}


.cardelement{
  margin: 0 auto;
  text-align: center;
}

@media (max-width:640px){
    .cardrow{
        display: grid;
        grid-template-columns: 1fr  ;
    }
}

 @media (min-width: 768px) { 
    .cardrow{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
 }
 @media (min-width: 1280px) {
    .cardrow{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
    }
 }
